/*http://ianlunn.github.io/Hover/ - Coola effecter*/
/*START OF UNIVERSAL DESIGN*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
    margin: 0;
	width: auto;
	height: 100%;
	min-height: 100%;
	font-family: Roboto;
	color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline-width: 0px;
}

/*End of universal design*/
/*START OF TOPBAR*/

#topbar {
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	width: auto;
	list-style-type: none;
    margin: 0;
	padding-left: 0;
	padding-right: 0;
    overflow: hidden;
    background-color: #333;
}
#topbar ul {
	padding: 0;
	margin: 0;
}
#topbar li:not(#mobileMenu) {
	margin: 0;
	display: inline;
	color: white;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#topbar li a {
	margin: 0;
	display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;

}
#topbar li p {
		margin: 0;
		display: inline;
}

#submitinp {
	float: right;
	margin-right: 40px;
	padding: 10px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}
#groupinp {
	width: 90px;
	float: right;
	border-radius: 5px 0px 0px 5px;
}
#weekbox {
    color: #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
.inputbox {
	background-color: #ffffff;
	font-family: Roboto;
	border: none;
	font-size: 16px;
	padding: 10px;
	transition-duration: 0.4s;
	
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.inputbox:hover {
	background-color: #dddddd;
}

.sb {
	background-color: #606060;
	border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
	border-radius: 3px;
	transition-duration: 0.4s;
	font-family: Roboto;
}
.sb:hover {
	background-color: #808080;
}

/*END OF TOPBAR*/
/*START OF LINKSDIV*/

#linksdiv {
	padding: 0px;
	position: relative;
	/*min-width: 200px;*/
	margin: 0;
	float: right;
	height: Calc(100% - 62px);
	width: 300px;
	overflow: hidden;
	background-color: #4c4c4c;
}
#linksdivul {
	padding: 0px;
	margin: 0px;
	
}
.linksdivli:hover {
	background-color: #666666;
}
.linksdivli {
	color: white;
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	display: block;
}
#linksdivul a {
	color: white;
	text-decoration: none;
	font-family: roboto;
	display: block;
	
}
#settingsButton {
	padding-left: 20px;
	padding-right: 10px;
	width: 100%;
	bottom: 0px;
	position: absolute;
	background-color: #474747;
}
/*END OF LINKSDIV*/
/*START OF SETTINGS*/
#settingsMenu {
	display: none;
	padding: 0px;
	margin: 0px;
}
#settingsMenu li {
	color: white;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	display: block;
}
#settingsMenu a, p {
	color: white;
	text-decoration: none;
	font-family: roboto;
	display: block;
}
#standardGroupinp  {
	width: 90px;
	border-radius: 5px 0px 0px 5px;
}
#standardsubmitGroupinp {
	padding: 10px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}
/*END OF SETTINGS*/
#schema {
	width: Calc(100% - 300px);
}