/*http://ianlunn.github.io/Hover/ - Coola effecter*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    margin: 0;
	width: auto;
	height: 100%;
	min-height: 100%;
	font-family: roboto;
}

#topbar {
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	width: auto;
	list-style-type: none;
    margin: 0;
	padding-left: 0;
	padding-right: 0;
    overflow: hidden;
    background-color: #333;
}
#topbar ul {
	padding: 0;
	margin: 0;
}

#topbar li:not(#mobileMenu) {
	margin: 0;
	display: inline;
	color: white;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#topbar li a {
	margin: 0;
	display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;

}
#topbar li p {
		margin: 0;
		display: inline;
}
#groupinp {
	background-color: #ffffff;
	width: 90px;
	font-family: Roboto;
	float: right;
	border: none;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px 0px 0px 5px;
}
#submitinp {
	float: right;
	margin-right: 40px;
	padding: 10px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}

.linksdiv {
	padding: 0px;
	position: relative;
	min-height: 100%;
	/*min-width: 200px;*/
	margin: 0;
	float: right;
	height: 100%;
	width: 300px;
	overflow: hidden;
	background-color: #4c4c4c;
}
#ldinfo {
	padding-left: 20px;
	padding-right: 10px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

.linksdiv ul {
	padding: 0px;
	margin: 0px;
	
}

.linksdivli:hover {
	background-color: #666666;
}

.linksdivli {
	color: white;
	list-style-type: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	display: block;
}

.linksdiv a {
	color: white;
	text-decoration: none;
	font-family: roboto;
	display: block;
	
}

.sb {
	background-color: #606060;
	border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
	border-radius: 3px;
	transition-duration: 0.4s;
	font-family: Roboto;
}
.sb:hover {
	background-color: #808080;
}
.inputbox {
	background-color: white;
	border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 0;
}

#time {
	display: block;

}

#myCanvas {
	margin: auto;
}




/*Device: Mobile (Less than 620px wide)*/
@media only screen and (max-width:620px) {
	.linksdiv {
	display: none;
	z-index: -5;
}
	#topbar {
    overflow: scroll;
	white-space: nowrap;
}
	#topbar li {
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: nowrap;
	}
	#topbar li p {
	display: none;
	white-space: nowrap;
	}
	#time {
		visibility: hidden;
		display: none;
	}
	.currenttimeli  {
		display: none;
		visibility: hidden;
	}
	#mobileMenu {
		display: inline;
	}
}